{% extends "base.html" %}
{% load static %}

{% block title %}Новый клиент | AutoFleet{% endblock %}

{% block topbar %}
  <header class="topbar">
    <div class="topbar-crumb">
      AutoFleet <span>/ Новый клиент</span>
    </div>
    <div style="flex:1"></div>
    <div class="topbar-actions">
      <!-- POST /login_staff / logout -->
      <a href="/" class="btn btn-ghost btn-sm">Выйти</a>
    </div>
  </header>
{% endblock topbar %}


{% block content %}
<div style="max-width:600px; margin:0 auto;">
    <div class="section">
        <div class="section-header">
            <span class="section-title">Новый клиент</span>
            <span class="section-meta">POST /create_client</span>
        </div>
        <div style="padding:20px 24px">
            <!-- {
  "full_name": "string",
  "driver_license": "string",
  "passport": "string",
  "address": "string"
} -->
            <form method="post" action="{% url 'client_create' %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        <label>FullName</label>
                        <input type="text" name="full_name" placeholder="Alex Petrov" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>driver_license</label>
                        <input type="text" name="driver_license" placeholder="77АА123456" required>
                    </div>
                    <div class="form-group">
                        <label>address</label>
                        <input type="text" name="address" placeholder="Palis street">
                    </div>
                </div>
                <div class="form-group">
                    <label>Серия и номер паспорта</label>
                    <input type="text" name="passport" placeholder="4520 123456">
                    <div class="form-hint">Для верификации клиента при аренде</div>
                </div>
                <div style="display:flex; gap:10px; justify-content:flex-end; margin-top:20px;">
                    <a href="{% url 'clients' %}" class="btn btn-ghost">Отмена</a>
                    <button type="submit" class="btn btn-primary">Создать клиента</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}