{% extends "base.html" %}
{% load static %}

{% block title %}Добавление авто | AutoFleet{% endblock %}

{% block topbar %}
  <header class="topbar">
    <div class="topbar-crumb">
      AutoFleet <span>/ Добавление авто</span>
    </div>
    <div style="flex:1"></div>
    <div class="topbar-actions">
      <!-- POST /login_staff / logout -->
      <a href="/login_staff/" class="btn btn-ghost btn-sm">Выйти</a>
    </div>
  </header>
{% endblock topbar %}

{% block content %}
<div style="max-width:600px; margin:0 auto;">
    <div class="section">
        <div class="section-header">
            <span class="section-title">{% if car %}Редактирование{% else %}Добавление{% endif %} автомобиля</span>
            <span class="section-meta">{% if car %}PATCH /update_car/{{ car.id }}{% else %}POST /create_car{% endif %}</span>
        </div>
        <div style="padding:20px 24px">
            <form method="post" action="{% if car %}{% url 'car_update' car.id %}{% else %}{% url 'car_create' %}{% endif %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group"><label>Марка</label><input type="text" name="brand" value="{{ car.brand|default:'' }}" required></div>
                     <div class="form-group"><label>Год выпуска</label><input type="number" name="year_release" value="{{ car.year|default:'' }}" required></div>
                </div>
                <div class="form-row">
                    <div class="form-group"><label>Гос. номер</label><input type="text" name="number_car" value="{{ car.license_plate|default:'' }}" required></div>
                     <div class="form-group"><label>Цена / день (₽)</label><input type="number" name="daily_price" step="any" value="{{ car.price_per_day|default:'' }}" required></div>
                </div>
                <div class="form-row">
                    <div class="form-group"><label>Категория 'ECONOMY' 'STANDARD' 'PREMIUM' 'LUX'</label><input type="text" name="category" value="{{ car.category }}" required></div>
                     <div class="form-group"><label>Цвет</label><input type="text" name="color" step="any" value="{{ car.color }}" required></div>
                </div>
                </div>
                <div style="display:flex; gap:10px; justify-content:flex-end; margin-top:20px;">
                    <a href="{% if car %}{% url 'car_detail' car.id %}{% else %}{% url 'cars' %}{% endif %}" class="btn btn-ghost">Отмена</a>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %} 